<a href="https://colab.research.google.com/github/TVMSairam123/Python_Intro/blob/main/Data_Structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Structures in Python

- List
- Tuple
- Dictionaries
- Sets

#### List

In [ ]:
#Creating a list

a = ["Sairam", 15, True, 20.5, 54.4j]

In [ ]:
type(a)

list

In [ ]:
#Methods in Lists

#1 Append()

course = ["Python", "ML", "AI", "Cloud"]

print(course)

course.append("IoT")

print(course)

['Python', 'ML', 'AI', 'Cloud']
['Python', 'ML', 'AI', 'Cloud', 'IoT']

In [ ]:
course

['Python', 'ML', 'AI', 'Cloud', 'IoT']

In [ ]:
course.append(59)

In [ ]:
print(course)

['Python', 'ML', 'AI', 'Cloud', 'IoT', 59]

In [ ]:
#2 extend()

add_course = ["DS", "VLSI"]

print(course)

course.extend(add_course)

print(course)

['Python', 'ML', 'AI', 'Cloud', 'IoT', 59]
['Python', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS', 'VLSI']

In [ ]:
#3 Clear()

print(add_course)

add_course.clear()

print(add_course)

['DS', 'VLSI']
[]

In [ ]:
#length - len()

len(course)

8

In [ ]:
#indexing

course[5]

59

In [ ]:
#Slicing

course[1:6]

['ML', 'AI', 'Cloud', 'IoT', 59]

In [ ]:
#4 Insert()

print(course)

course.insert(1, "Java")

print(course)

['Python', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS', 'VLSI']
['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS', 'VLSI']

In [ ]:
#5 remove(x)

print(course)

course.remove("VLSI")

print(course)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS', 'VLSI']
['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS']

In [ ]:
#6 copy()

print(course)

x = course.copy()

print(x)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS']
['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS']

In [ ]:
#7 count()

print(course)

course.insert(5, "Python")

['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59, 'DS']

In [ ]:
print(course)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'Python', 'IoT', 59, 'DS']

In [ ]:
course.count("Python")

2

In [ ]:
#8 index()

course.index("Python")

0

In [ ]:
#9 pop() -> pop() -> Removes the last element of the list, pop(index)-> removes specific index value element

print(course)

last_course = course.pop()

print(course)
print(last_course)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'Python', 'IoT', 59, 'DS']
['Python', 'Java', 'ML', 'AI', 'Cloud', 'Python', 'IoT', 59]
DS

In [ ]:
print(course)

last_course = course.pop(5)

print(last_course)
print(course)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'Python', 'IoT', 59]
Python
['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59]

In [ ]:
#10 reverse()

print(course)

course.reverse()

print(course)

['Python', 'Java', 'ML', 'AI', 'Cloud', 'IoT', 59]
[59, 'IoT', 'Cloud', 'AI', 'ML', 'Java', 'Python']

In [ ]:
#11 sort()

print(course)

course.sort()

print(course)

[59, 'IoT', 'Cloud', 'AI', 'ML', 'Java', 'Python']

TypeError: ignored

In [ ]:
course.pop(0)

59

In [ ]:
course

['IoT', 'Cloud', 'AI', 'ML', 'Java', 'Python']

In [ ]:
print(course)

course.sort()

print(course)

['IoT', 'Cloud', 'AI', 'ML', 'Java', 'Python']
['AI', 'Cloud', 'IoT', 'Java', 'ML', 'Python']

In [ ]:
#12 del()

del_list = [11,2,3,4,5]

print(del_list)

del del_list

print(del_list)

[11, 2, 3, 4, 5]

NameError: ignored

In [ ]:
#13 concatinate()

add_course = ["java", "swift"]

print(add_course)

print(course + add_course)

['java', 'swift']
['AI', 'Cloud', 'IoT', 'Java', 'ML', 'Python', 'java', 'swift']

### Tuple

In [ ]:
#1 count()

tup1 = ("Sai", "Maheraa", 23, 23, 27, 51.0)

type(tup1)

tuple

In [ ]:
tup1.count(23)

2

In [ ]:
#2 Index()

print(tup1)

tup1.index(23)

('Sai', 'Maheraa', 23, 23, 27, 51.0)

2

In [1]:
#Dictionaries

In [2]:
dict1 = {"Name" : "Maheraa",
         "Age" : 25,
         "Country" : "India"}

print(type(dict1))

<class 'dict'>

In [3]:
print(dict1)

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

In [4]:
print(dict1['Name'])

Maheraa

In [5]:
print(dict1['Age'])

25

In [6]:
print(dict1['Country'])

India

In [7]:
#1 Copy()

# we need to copy entire dictionary into another variable

x = dict1.copy()

print(x)

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

In [8]:
#2 Items()

print(dict1)

dict1.items()

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

dict_items([('Name', 'Maheraa'), ('Age', 25), ('Country', 'India')])

In [9]:
#3 Keys()

print(dict1)

dict1.keys()

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

dict_keys(['Name', 'Age', 'Country'])

In [10]:
#4 values()

print(dict1)

dict1.values()

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

dict_values(['Maheraa', 25, 'India'])

In [11]:
#5 popitem()

print(dict1)

a = dict1.popitem()

print(a)

print(dict1)

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}
('Country', 'India')
{'Name': 'Maheraa', 'Age': 25}

In [12]:
#6 setdefault()

print(dict1)

c = dict1.setdefault("Country", "India")

print(c)
print(dict1)

{'Name': 'Maheraa', 'Age': 25}
India
{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}

In [13]:
#7 Update()

print(dict1)

dict1.update({"City" : "Vijayawada"})

print(dict1)

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India'}
{'Name': 'Maheraa', 'Age': 25, 'Country': 'India', 'City': 'Vijayawada'}

In [14]:
a

('Country', 'India')

In [15]:
type(a)

tuple

In [16]:
print(dict1)

dict1.clear()

print(dict1)

{'Name': 'Maheraa', 'Age': 25, 'Country': 'India', 'City': 'Vijayawada'}
{}

### Conditional Statements

- if- condition
- if- else
- elif

In [20]:
#if condition

argg = True #Assignment operator 
if(argg == True): #Comparison operator
  print("Wife won the argg")

Wife won the argg

In [22]:
#if - else

argg = False

if(argg == True):
  print("Wife won the argg")
else:
  print("Husband out of house")

Husband out of house

In [25]:
# elif

argg = "Ego"
if (argg == True):
  print("Wife won the argg")
elif (argg == False):
  print("Husband is out of house")
else:
  print("Compramised")

Compramised

### Loops

- For loop
- While loop

In [26]:
#For loop

lst = [10,20,30,40,50]

#for variable in input:
#  print(varibale)

for var1 in lst:
  print(var1)  #var1 = 10 -> var1 = 20 -> var1 = 30 ->

10
20
30
40
50

In [30]:
tup1 = (20,50,78,52,"ram")

for ram in tup1:
  print(ram)

20
50
78
52
ram

In [31]:
str1 = "Nandini Maheswari"

for name in str1:
  print(name)

N
a
n
d
i
n
i

M
a
h
e
s
w
a
r
i

In [34]:
#While Loop

a = 0

while a <= 10:
  print(a)
  a += 1

0
1
2
3
4
5
6
7
8
9
10